APScheduler==3.6.3
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
distlib==0.3.2
Django==3.2.6
faunadb==4.1.0
filelock==3.0.12
future==0.18.2
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.2
iso8601==0.1.16
platformdirs==2.2.0
PyJWT==1.7.1
python-telegram-bot==13.7
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
telegram==0.0.1
tornado==6.1
twilio==6.63.1
tzdata==2021.1
tzlocal==3.0
urllib3==1.26.6
virtualenv==20.7.2
